<section>
    <div class="container-fluid">
        <div class="row">
        <div class="r1">
            <div class="col-3">
                <a routerLink="/home">
                <img src="https://static.vecteezy.com/system/resources/thumbnails/003/651/643/small/v-letter-logo-icon-for-business-and-company-vector.jpg" alt="">
                </a>
            </div>
            <div class="col-8">
                <h3><a routerLink="/home" class="neon">VIBSO</a></h3>
            </div>
            <div class="col-1">
                <a routerLink="/login" class="loginlink"><b>LOGIN</b></a>
            </div>
        </div>
        </div>
       
    </div>
</section>
