/* privacy-policy.component.css */
.container {
    margin: 40px auto;
    padding: 40px;
    max-width: 100%;
    background-color: #FAFAFA;
  
  }
  
  
  h1, h2 {
    font-weight: bold;
    margin-bottom: 10px;
    color: #1f0446;
  }
  
  h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    text-decoration: underline;
  }
  
  h2 {
    font-size: 25px;
  }
  
  ul {
    list-style: square;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 20px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
  }
  
  a {
    text-decoration: none;
    color: #337ab7;
  }
  
  a:hover {
    color: #23527c;
  }
  
  /* Add some space between sections */
  li:not(:last-child) {
    margin-bottom: 40px;
  }