/* cookies-policy.component.css */
.container {
   
    margin: 40px auto;
    padding: 40px;
    max-width: 100%;
    background-color: #FAFAFA;
  }
  h1, h2 {
    font-weight: bold;
    margin-bottom: 10px;
    color: #1f0446;
  }
  
  h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    text-decoration: underline;
  }
  
  h2 {
    font-size: 25px;
  }
  
  h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #777;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
  }
  
  a {
    text-decoration: none;
    color: #337ab7;
  }
  
  a:hover {
    color: #23527c;
  }
  
  /* Add some space between sections */
  li:not(:last-child) {
    margin-bottom: 40px;
  }
  
  /* Add a background color to the header */
  .header {
    background-color: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  /* Add some padding to the list items */
  .list-item {
    padding: 20px;
  }
  
  /* Add a border to the list items */
  .list-item {
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  
  /* Add some margin to the list items */
  .list-item {
    margin-bottom:20px;
  }