<!-- google-api-disclosure.component.html -->
<div class="container">
    <h1>Google API Disclosure</h1>
    <p>VIBSO's use and transfer of information received from Google APIs to any other app will adhere to Google API Services User Data Policy, including the Limited Use requirements.</p>
    <ul>
      <li>
        <h2>Google API Services User Data Policy</h2>
        <p>We will comply with the<a href="https://developers.google.com/terms/api-services-user-data-policy#additional_requirements_for_specific_api_scopes"> Google API Services User Data Policy</a>, which outlines the rules for handling user data.</p>
      </li>
      <li>
        <h2>Limited Use Requirements</h2>
        <p>We will only use the information received from Google APIs for the limited purposes specified in the policy.</p>
      </li>
    </ul>
  </div>
