<section>
    <!-- terms-and-conditions.component.html -->
<div class="container">
    <h1>Terms and Conditions</h1>
    <section id="introduction">
      <h2>Introduction</h2>
      <p>{{ introduction }}</p>
    </section>
    <hr>
    <section id="service-description">
      <h2>Service Description</h2>
      <p>{{ serviceDescription }}</p>
    </section>
    <hr>
    <section id="user-rights-and-responsibilities">
      <h2>User Rights and Responsibilities</h2>
      <p>{{ userRightsAndResponsibilities }}</p>
    </section>
    <hr>
    <section id="privacy-policy">
      <h2>Privacy Policy</h2>
      <p>{{ privacyPolicy }}</p>
    </section>
    <hr>
    <section id="intellectual-property-rights">
      <h2>Intellectual Property Rights</h2>
      <p>{{ intellectualPropertyRights }}</p>
    </section>
    <hr>
    <section id="limitation-of-liability">
      <h2>Limitation of Liability</h2>
      <p>{{ limitationOfLiability }}</p>
    </section>
    <hr>
    <section id="prohibited-activities">
      <h2>Prohibited Activities</h2>
      <p>{{ prohibitedActivities }}</p>
    </section>
    <hr>
    <section id="termination">
      <h2>Termination</h2>
      <p>{{ termination }}</p>
    </section>
    <hr>
    <section id="governing-law">
      <h2>Governing Law</h2>
      <p>{{ governingLaw }}</p>
    </section>
    <hr>
    <section id="changes-to-terms">
      <h2>Changes to Terms</h2>
      <p>{{ changesToTerms }}</p>
    </section>
    <hr>
    <section id="contact-information">
      <h2>Contact Information</h2>
      <p>{{ contactInformation }}</p>
    </section>
    <hr>
    <section id="miscellaneous">
      <h2>Miscellaneous</h2>
      <p>{{ miscellaneous }}</p>
    </section>
  </div>

</section>