<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Terms of Use</h1>
                <h3>1.&nbsp; THESE TERMS & CONDITIONS</h3>
                <ol>
                    <li>What these terms cover. These are the terms and conditions on which we supply Services (as defined below) (the "Terms & Conditions").</li>
                    <li>Use of our website. These Terms & Conditions cover the use of Our Site: https://www.happyscribe.com/ (hereinafter referred to as "Our Site").</li>
                    <li>Why you should read them. Please read these Terms & Conditions carefully before you submit your order to us. These Terms & Conditions tell you who we are, how we will provide our Services to you, how you and we may change or end the contract, what to do if there is a problem and other important information.</li>
                    <li>Are you a business customer or a consumer? In some areas you will have different rights under these Terms & Conditions depending on whether you are a business customer or a consumer. You are a consumer if:
                        <ul>
                            <li>You are an individual; and</li>
                            <li>You are contracting Services from us wholly or mainly for your personal use (not for use in connection with your trade, business, craft or profession).</li>
                        </ul>
                        personal use (not for use in connection with your trade, business, craft or profession).</li>
                    <li>If you are a business customer this is our entire contract with you. If you are a business customer these Terms & Conditions constitute the entire contract between us in relation to your purchase. You acknowledge that you have not relied on any statement, promise, representation, assurance or warranty made or given by or on behalf of us which is not set out in these Terms & Conditions and that you shall have no claim for misrepresentations based on any statement in this contract.</li>
                    <li>If you are a consumer, specific consumer regulations will also be applicable. Therefore, if you are a consumer, these Terms & Conditions constitute the contract between us, but you are also entitled to the relevant protections foreseen in the applicable European regulations and/or in the laws of your country.</li>
                </ol>
            </div>
        </div>
    </div>
</section>
